.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.navcontainer {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.logo {
  width: 100px;
  height: 80px;
  margin-left: 50px;
  margin-top: 30px;
}

.nav {
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
  font-family: "Montserrat";
  margin-left: auto;
}

.search {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.navlist {
  display: flex;
  gap: 50px;
  list-style: none;
  padding: 50px;
}
