.hidden {
  display: none;
}



.hero {
  background-repeat: no-repeat;
  background-image: url(../../assets/images/background1.png);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  align-items: center;
  color: #ffffff;
  font-family: "Montserrat";
}

.herotitle {
  font-size: 108px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

.herotext {
  width: 900px;
  height: 210px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 200;
  font-family: "Montserrat";
  text-align: center;
}

.herobutton {
  width: 322px;
  height: 65px;
  border-radius: 4px;
  background-color: #f6d365;
  font-size: 25px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
