.section2 {
  background-image: url(../../assets/images/background2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f6d365;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  text-align: center;
  align-items: center;
  color: #000000;
  font-family: "Montserrat";
}

.section2container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.section2title {
  font-size: 64px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

.section2text {
  width: 800px;
  height: 210px;
  font-size: 25px;
  color: #333333;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
}

.container2 {
  display: flex;
  gap: 60px;
  position: relative;
  justify-content: center;
}

.box1,
.box2,
.box3 {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.box1title,
.box2title,
.box3title {
  font-size: 32px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

.box1subtitle,
.box2subtitle,
.box3subtitle {
  width: 300px;
  height: 119px;
  font-size: 19px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}

@media (max-width: 768px) {
  .section2title {
    font-size: 36px;
  }

  .section2text {
    width: 90%;
    font-size: 16px;
  }

  .container2 {
    flex-direction: column;
    gap: 40px;
  }

  .box1,
  .box2,
  .box3 {
    width: 90%;
    height: auto;
  }
}
